//footer to be included
script(src='/javascripts/jquery-1.11.0.min.js')
script(src='/javascripts/bootstrap.js')
div(class='container')
	hr
	div(class='row')
		div(class='col-md-4')
			p Copyright &copy; ZhengqiYang.com &nbsp;
				a(href='/contact') Contact
		div(class='col-md-4')
		div(class='col-md-4')
			p Feeling like to donate? 
				a(href='/Donate') Click here