doctype html
html
include includes/header
div(class='container', style='margin-top:51px')
    div(class='row')
        h1 Contact me
    hr
    div(class='row')
        h3 Via email:
        a(href="mailto:robbenyang@gmail.com?Subject=[HiddenMe]" target="_top") &nbsp;&nbsp;&nbsp;&nbsp;Email me!
    hr
    div(class='row')
        h3 Comment here: 
        form(role='form')
            div(class='form-group')
                div(class='row')
                    div(class='col-md-1')
                        h4 Name: 
                    div(class='col-md-3')
                        input(class='form-control', id='realname')
                    div(class='col-md-4')
                        h4 *Email (This is how I get back to you): 
                    div(class='col-md-4')
                        if user
                            input(class='form-control',id='useremail',value='#{user.email}')
                        else
                            input(class='form-control',id='useremail')
                div(class='row')
                    textarea(class='form-control', rows='5', id='body', hint=)
                br
                div(class='row')
                    div(class='col-md-3')
                        h4 Please enter code(Case-sensitive): 
                        input(class='form-control',id='captcha')
                        br
                        button(class='btn btn-primary', type='button', id='commentbtn') Comment

                    div(class='col-md-6')
                        if img
                            img(src="data:image/jpeg;base64,#{img}")
                

include includes/footer 
script(type='text/javascript').
    $('button#commentbtn').click(function(){
        var text = '#{text}';
        var input = $('input#captcha').val().trim();
        if(input != text){
            alert("Please enter the correct code!");
            return;
        }
        var body = $('textarea#body').val();
        var realname = $('input#realname').val();
        var useremail = $('input#useremail').val();
        //var 
        $.ajax({
            url: '/comment',
            type: 'post',
            data: {
                'realname': realname,
                'useremail': useremail,
                'body': body
            }, 
            success: function(data, text){
                alert("Thank you for your comment! We will get back to soon");
                //window.location.href='/view';
            },
            error: function(jqXHR, textStatus, errorThrown){
                showResultFailed(jqXHR.responseText);
                alert("Failed to comment");
            }
        });
    });