//
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBWQsBI1rFE+l1iRhf+lGVsKlGkRyeZK62DMWepzeKx2fPhC8TXo9mLXsnONdlbuxVC48Z5Nnh8QDXdY5zCRSeACXVwY+G1vP+uMnQeGDvhhECXeC+JR17HYU2aVuSYjaZ84WjCp5mFcjkvQ/LTcLKF4hvaSoYNFUYcqtCOh9ioejELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIBQblIBBkXgKAgYjgoYXF5heftaZzMvIxwIrSJt02jWC9eJcanlYRSAJZjw4oaf+0Iu5RO6azNQcUxYgI+g6q9lgj1rlxwETq26Rahl32pxOePCmpHzJXMLSlokuPs7WZBPA2OL12Ss22GPOU0bylYDwBqOcoCBemPxcWb/hgD80hoKC+wiIPkNehlpzBG057671KoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTQwNTAxMDc1ODU2WjAjBgkqhkiG9w0BCQQxFgQU1Ljfo6Hw4wfdK9Ie5WsV1GuJw8kwDQYJKoZIhvcNAQEBBQAEgYAkshyQo5qut5g6OEJDoixLPNlxZyIkMKxm7szDzVeMhAmAP6Stgo0CWpJoQd36R7A84uxHJtsMHEq/YgAWdwuQVRVsq6UHNDa/chRQPbcCKHePJwG19JNxth9pDv4NX83pqTX6AVElzdX4zzwx4Rt5vt3mpoD8m6RqoBw2RGQdqQ==-----END PKCS7-----
	">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>

	https://donate.wikimedia.org/w/index.php?title=Special:FundraiserLandingPage&country=US&uselang=en&utm_medium=sidebar&utm_source=donate&utm_campaign=C13_en.wikipedia.org
	http://donate.fsf.org

doctype html
html
include includes/header
hr
div(class='container', style='margin-top:51px')
	div(class='row')
		h2 Make Donations
	br
	div(class='row')
		h3
	h3 Donate to 
		a(href='http://www.fsf.org') Free Software Foundation&nbsp;
			a(href='http://en.wikipedia.org/wiki/Free_Software_Foundation') (Wiki):
	br		
	p Free Software Foundation is a non-profit corporation which supports a ton of free software, including the GNU project, Java and HTTP protocol, etc.&nbsp;
		a(href='http://donate.fsf.org') Click here 
		p if you want to contribute to them.
	hr
	h3 Donate to 
		a(href='http://en.wikipedia.org') Wikipedia&nbsp;
			a(href='http://en.wikipedia.org/wiki/Wikipedia') (Wiki):
	br		
	p Free Software Foundation is a non-profit corporation which supports a ton of free software, including the GNU project, Java and HTTP protocol, etc.&nbsp;
		a(href='http://wikimediafoundation.org/wiki/Ways_to_Give/en') Click here 
		p if you feel like to support Wikipedia.
	hr
	h3 Donate to this site:	
	p 
		| If you like this site and want to make it better, you can do so by offering suggestions 
		a(href='/contact') here 
		| or Donate (Click the button below)
	form(action='https://www.paypal.com/cgi-bin/webscr', method='post' target='_top')
		input(type="hidden" name='cmd' value='_s-xclick')
		input(type='hidden' name='encrypted' value='-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBWQsBI1rFE+l1iRhf+lGVsKlGkRyeZK62DMWepzeKx2fPhC8TXo9mLXsnONdlbuxVC48Z5Nnh8QDXdY5zCRSeACXVwY+G1vP+uMnQeGDvhhECXeC+JR17HYU2aVuSYjaZ84WjCp5mFcjkvQ/LTcLKF4hvaSoYNFUYcqtCOh9ioejELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIBQblIBBkXgKAgYjgoYXF5heftaZzMvIxwIrSJt02jWC9eJcanlYRSAJZjw4oaf+0Iu5RO6azNQcUxYgI+g6q9lgj1rlxwETq26Rahl32pxOePCmpHzJXMLSlokuPs7WZBPA2OL12Ss22GPOU0bylYDwBqOcoCBemPxcWb/hgD80hoKC+wiIPkNehlpzBG057671KoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTQwNTAxMDc1ODU2WjAjBgkqhkiG9w0BCQQxFgQU1Ljfo6Hw4wfdK9Ie5WsV1GuJw8kwDQYJKoZIhvcNAQEBBQAEgYAkshyQo5qut5g6OEJDoixLPNlxZyIkMKxm7szDzVeMhAmAP6Stgo0CWpJoQd36R7A84uxHJtsMHEq/YgAWdwuQVRVsq6UHNDa/chRQPbcCKHePJwG19JNxth9pDv4NX83pqTX6AVElzdX4zzwx4Rt5vt3mpoD8m6RqoBw2RGQdqQ==-----END PKCS7-----')
		input(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
		img(alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")
include includes/footer	
